<div class="exibindoTeste">

    <form class="formGeral" >

        <br>
        <p>aviso de contas vencidas em aberto</p>
        <p>aviso de contas a vencer em breve</p>
        <p>post-it como lembretes</p>
        <p>agenda, não calendário</p>

        <br>
        <div style="display: flex; justify-content: left;">
            <app-data-picker></app-data-picker>
            <app-card-box></app-card-box>
            <app-dialog-box></app-dialog-box>
            <div style="padding: 20px; display: inline-block">
                <app-search-box></app-search-box>
            </div>
        </div>
        <br>
        <br>

        <div style="display: flex; justify-content: left;">
            <app-select-drop></app-select-drop>
            <app-spinner></app-spinner>
            <app-table></app-table>
            
        </div>
        <br>
        <br>

        <div style="display: flex; justify-content: left;">            
            <app-text-field></app-text-field>
            <app-tool-tip></app-tool-tip>
            <app-value-field></app-value-field>

        </div>
        <br>
        <br>

        <div style="display: flex; justify-content: left;">

        </div>
        <br>
        <br>

        
        <div style="display: flex; justify-content: center;">            
            <app-my-button></app-my-button>
        </div>
        <br>
        <br>

    </form>

</div>
