<!--  
  ENDEREÇO DO PROJETO CONFINFRONTEND:
  D:\Users\User\ControleFinanceiro\ControleFinanceiroFrontEnd\ConFin-frontEnd
-->
<!--
<form type="titulo">
  <h2>CONTROLE FINANCEIRO</h2>  
</form>
-->  
<!-- HTML -->
<div class="tela">
  <form type="menuBotoes">  
    <button type="menuBotoes" routerLink="/inicialScreen-component" routerLinkActive="ativo">INICIO</button> 
    <button type="menuBotoes" routerLink="/entidades-cadastrar" routerLinkActive="ativo">CADASTRAR ENTIDADES</button>
    <button type="menuBotoes" routerLink="/patrimonio-cadastrar" routerLinkActive="ativo">FORNECEDORES & TERCEIROS</button>
  </form>

  <router-outlet></router-outlet>
  
</div>

<!--
<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<app-principal-entidade #entidade ></app-principal-entidade>

<app-principal-patrimonio [entidadesArray]= "entidade.entidadesArray"></app-principal-patrimonio>
-->