
form[type="titulo"] {
    border: 0px;
    border-collapse: collapse;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    width: 99%;  
    text-align: center;
    margin: 20px auto;
    justify-content: space-around;
    align-items: center;  
    background-color: transparent;
}

form[type="menuBotoes"] {
    border: 0px solid #140404;
    border-collapse: collapse;
    padding: 1px;
    padding-bottom: 15px;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    vertical-align: center;
    width: 98%;    
    margin: 1px auto;      
    background-color: transparent;
}

button[type="menuBotoes"] {    
    margin-left: 10px;
    width: 120px;
    height: 35px;
    vertical-align: text-top;
    background-color: rgb(173, 247, 158);
    color: rgb(5, 5, 5);
    font-weight: bold;
    font-size: 10px;
    border-color: rgb(38, 194, 7);
    border-radius: 4px;
}
button:hover[type="menuBotoes"]{
    background-color: rgb(51, 165, 28);
    color: rgb(204, 202, 202);
    font-size: 12px;    
  }