<!--  
  ENDEREÇO DO PROJETO CONFINFRONTEND:
  D:\Users\User\ControleFinanceiro\ControleFinanceiroFrontEnd\ConFin-frontEnd
-->

<form type="titulo">
  <h2>CONTROLE FINANCEIRO</h2>     
</form>

<form type="menuBotoes">  
  <button type="menuBotoes" (click)="navigateTo('../')">INICIO</button> 
  <button type="menuBotoes" (click)="navigateTo('./entidades-cadastrar')">CADASTRAR ENTIDADES</button>
  <button type="menuBotoes" (click)="navigateTo('./patrimonio-cadastrar')">FORNECEDORES & TERCEIROS</button>
</form>

<router-outlet></router-outlet>
