
<!--
<A routerLink="../">INICIO</A> <br>
-->

<form>
    <div style="padding: 20px; display: inline-block">
        <autocomplete *ngIf="entidadesArray" [entidades]="entidadesArray"
            (entidadeSelecionada)="entidadeEscolhida($event)"></autocomplete>
    </div>

    <input type="date" name="myDate" [(ngModel)]="patrimonio.levantamento">
    <input type="number" step="0.01" name="myNumber" [(ngModel)]="patrimonio.valor">
    

    <input
        type="button"
        value="Cadastrar"
        *ngIf="btnCadastro"        
        class="btn btn-primary"
        (click)="cadastrar()">

    <input
        type="button"
        value="Buscar"
        *ngIf= "!buscando && btnCadastro"
        class="btn btn-primary"
        (click)="buscar()">
            
    <input
        type="button"
        value="Alterar"
        *ngIf="!btnCadastro"        
        class="btn btn-warning"
        (click)="editar()">

    <input
        type="button"
        value="Remover"
        *ngIf="!btnCadastro"        
        class="btn btn-danger"
        (click)="remover()">

    <input
        type="button"
        value="Cancelar"
        *ngIf="!btnCadastro || buscando"        
        class="btn btn-secondary"
        (click)="cancelar()">
    
</form>

<table>
    <thead>
        <tr>
            <th>id_patrimonio</th>
            <th>id_entidade</th>
            <th>Razão_Social</th>
            <th>levantamento</th>
            <th>valor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of PatrimonioArray; index as i">
            <td>{{p.idpatrimonio}}</td>
            <td>{{p.identidade}}</td>
            <td>{{p.razaosocial}}</td>
            <td>{{formatDate(p.levantamento)}}</td>
            <td>{{ p.valor.toFixed(2) }}</td>
            
            <td>
                <button class="btn btn-success" (click)="selecionarPatrimonio(i)">
                    Selecionar
                </button>
            </td>
        </tr>
    </tbody>
   
</table>