<mat-form-field class="example-full-width">
  <mat-label class="titulo" >buscar</mat-label>
  <input class="entradas"
          type="text"
          placeholder="razao social"
          aria-label="insira razão social de origem do patrimonio"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option class="option" *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
